h1,
p {
  font-family: Lato;
}
#idRenderedControl {
  border: 2px solid blue;
  background-color: rgb(204, 236, 240);
  padding: 5px;
}
#idInsideApp {
  border: 2px solid blue;
  background-color: rgb(189, 230, 176);
  padding: 5px;
}
